@use "../utilities" as *;

/**----------------------------------------
START: Theme Footer CSS
----------------------------------------*/
.footer-section{
    position: relative;
    z-index: 1;
    .footer-bg{
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top left;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

.footer-wrap{
    @include breakpoint(md){
        padding-bottom: 0;
    }
}

.footer-widget{
    @include breakpoint(md){
        margin-bottom: 50px;
    }
    .site-logo{
        margin-bottom: 35px;
        @include breakpoint(md){
            margin-bottom: 20px;
        }
    }
    .section-heading{
        @include breakpoint(md){
            margin-bottom: 20px;
        }
        .section-title{
            font-size: 48px;
            @include breakpoint(md){
                font-size: 36px;
            }
            @include breakpoint(sm){
                font-size: 30px;
            }
        }
    }
    .footer-links{
        @include flex-vertical-center;
        flex-wrap: wrap;
        row-gap: 10px;
        list-style: none;
        li{
            &:not(:last-of-type){
                margin-right: 20px;
            }
            a{
                font-size: 15px;
                font-weight: 500;
                color: var(--pb-color-heading-primary);
                &:hover{
                    color: var(--pb-color-theme-primary);
                }
            }
        }
    }
    .widget-title{
        color: var(--pb-color-heading-primary);
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 40px;
        @include breakpoint(md){
            margin-bottom: 20px;
        }
    }
    .desc{
        max-width: 400px;
        width: 100%;
        margin-bottom: 40px;
        @include breakpoint(md){
            margin-bottom: 20px;
        }
    }
    .footer-form{
        max-width: 400px;
        width: 100%;
        position: relative;
        .form-control{
            background-color: var(--pb-color-grey-1);
            border: none;
            box-shadow: none;
            outline: none;
            font-size: 16px;
            font-weight: 500;
            padding: 15px;
            padding-left: 20px;
            padding-right: 60px;
            border: 1px solid #657EFF;
            border-radius: 30px;
        }
        .submit{
            background-color: #657EFF;
            color: var(--pb-color-common-white);
            height: 55px;
            width: 55px;
            font-size: 16px;
            @include flex-center;
            display: inline-block;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            border-radius: 0 30px 30px 0;
            @include transition(all 0.3s ease-in-out);
            border-left: 1px solid transparent;
            i{
                margin-right: 5px;
            }
            &:hover{
                background-color: transparent;
                border-left: 1px solid #657EFF;
                color: var(--pb-color-heading-primary)
            }
        }
    }
    .footer-social{
        @include flex-vertical-center;
        list-style: none;
        margin-top: 40px;
        @include breakpoint(md){
            margin-top: 20px;
        }
        li{
            &:not(:last-of-type){
                margin-right: 10px;
            }
            a{
                color: var(--pb-color-heading-primary);
                height: 35px;
                width: 35px;
                font-size: 14px;
                border: 1px solid rgba(34, 31, 63, 0.2);
                border-radius: 50%;
                display: block;
                @include flex-center;
                &:hover{
                    background-color: #0866FF;
                    color: var(--pb-color-common-white);
                    border: 1px solid #0866FF;
                }
            }
            &:nth-child(2){
                &:hover{
                    a{
                        background-color: #229EF2;
                        border: 1px solid #229EF2;
                    }
                }
            }
            &:nth-child(3){
                &:hover{
                    a{
                        background-color: #0681BA;
                        border: 1px solid #0681BA;
                    }
                }
            }
            &:nth-child(4){
                &:hover{
                    a{
                        background-color: #EB044F;
                        border: 1px solid #EB044F;
                    }
                }
            }
        }
    }
    .footer-list{
        list-style: none;
        li{
            &:not(:last-of-type){
                margin-bottom: 15px;
            }
            a{
                font-size: 16px;
                font-weight: 500;
                i{
                    font-size: 14px;
                    color: var(--pb-color-heading-primary);
                    margin-right: 10px;
                }
            }
        }
    }
}

.footer-2{
    .footer-widget{
        .footer-form{
            margin-top: 30px;
            .form-control{
                color: var(--pb-color-heading-primary);
                border: 1px solid #E7E7EB;
                border-radius: 5px;
                font-weight: 600;
                @include tp-placeholder{
                    color: var(--pb-color-heading-primary);
                }
            }
            .submit{
                background: var(--pb-color-gradient-2);
                border-radius: 0;
                @include transition(all 0.3s ease-in-out);
                &:hover{
                    color: var(--pb-color-common-white);
                    background: var(--pb-color-gradient-1);
                    border-left: 1px solid var(--pb-color-border-1);
                }
            }
        }
        &.widget-2{
            padding-left: 70px;
            @include breakpoint(md){
                padding-left: 0;
            }
        }
        .footer-contact{
            list-style: none;
            li{
                display: flex;
                column-gap: 10px;
                font-size: 16px;
                color: var(--pb-color-text-body);
                &:not(:last-of-type){
                    margin-bottom: 15px;
                }
                i{
                    color: var(--pb-color-heading-primary);
                    line-height: 1;
                    margin-top: 5px;
                }
            }
        }
        .widget-title.title-2{
            margin-top: 30px;
            margin-bottom: 20px;
        }
        .footer-social{
            li{
                a{
                    background-color: var(--pb-color-common-white);
                    border: 1px solid transparent;
                    &:hover{
                        background-color: #0866FF;
                        color: var(--pb-color-common-white);
                        border: 1px solid #0866FF;
                    }
                }
                &:nth-child(2){
                    &:hover{
                        a{
                            background-color: #229EF2;
                            border: 1px solid #229EF2;
                        }
                    }
                }
                &:nth-child(3){
                    &:hover{
                        a{
                            background-color: #0681BA;
                            border: 1px solid #0681BA;
                        }
                    }
                }
                &:nth-child(4){
                    &:hover{
                        a{
                            background-color: #EB044F;
                            border: 1px solid #EB044F;
                        }
                    }
                }
            }
        }
    }
}

// Footer 3

.footer-3{
    @include background;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    .footer-text{
        position: absolute;
        top: 45%;
        left: -120px;
        transform: translateY(-50%) rotate(-90deg);
        @include breakpoint(lg){
            display: none;
        }
        .market{
            font-size: 92px;
            font-weight: 700;
            margin-bottom: 0;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: var(--pb-color-common-purple);
        }
    }
    .footer-social{
        list-style: none;
        position: absolute;
        top: 50%;
        right: 80px;
        transform: translateY(-50%);
        @include breakpoint(lg){
            display: none;
        }
        li{
            &:not(:last-of-type){
                margin-bottom: 20px;
            }
            a{
                color: var(--pb-color-common-white);
                height: 40px;
                width: 40px;
                @include flex-center;
                border: 1px solid var(--pb-color-common-white);
                border-radius: 5px;
                &:hover{
                    background-color: var(--pb-color-common-white);
                    color: var(--pb-color-heading-primary);
                }
            }
        }
    }
    .footer-content{
        .site-logo{
            margin-bottom: 55px;
        }
        .footer-page-list{
            @include flex-vertical-center;
            justify-content: center;
            flex-wrap: wrap;
            row-gap: 10px;
            list-style: none;
            li{
                &:not(:last-of-type){
                    margin-right: 40px;
                }
                a{
                    color: var(--pb-color-common-white);
                    font-size: 15px;
                    font-weight: 500;
                    &:hover{
                        color: var(--pb-color-theme-primary);
                    }
                }
            }
            &.list-1{
                margin-bottom: 20px;
            }
        }
        .footer-form{
            position: relative;
            max-width: 765px;
            width: 100%;
            margin: 0 auto;
            padding: 0 15px;
            margin-top: 50px;
            .form-control{
                background-color: transparent;
                color: var(--pb-color-common-white);
                font-size: 16px;
                font-weight: 500;
                border: 1px solid #6D6C79;
                padding: 20px 170px 20px 30px;
                border-radius: 60px;
                box-shadow: none;
                outline: none;
                @include breakpoint(sm){
                    padding: 20px 135px 20px 30px;
                }
                @include tp-placeholder{
                    color: var(--pb-color-common-white);
                    font-size: 16px;
                    font-weight: 500;
                }
            }
            button{
                background-color: var(--pb-color-theme-primary);
                color: var(--pb-color-common-white);
                padding: 15px 40px;
                font-size: 16px;
                font-weight: 600;
                text-transform: uppercase;
                position: absolute;
                top: 50%;
                right: 20px;
                transform: translateY(-50%);
                border-radius: 60px;
                @include transition(all 0.3s ease-in-out);
                border: 1px solid transparent;
                @include breakpoint(sm){
                    font-size: 13px;
                    padding: 15px 20px;
                }
                &:hover{
                    background-color: var(--pb-color-common-white);
                    color: var(--pb-color-heading-primary);
                }
            }
        }
    }
    .copyright-content{
        p{
            color: rgba(255, 255, 255, 0.7);
        }
        .copy-list{
            li{
                a{
                    color: rgba(255, 255, 255, 0.7);
                }
            }
        }
    }
}

.copyright-area{
    padding: 25px 0;
    border-top: 1px solid var(--pb-color-border-1)
}

.copyright-content{
    @include flex-vertical-center;
    justify-content: space-between;
    column-gap: 20px;
    flex-wrap: wrap;
    row-gap: 20px;
    @include breakpoint(md){
        justify-content: center;
    }
    p{
        margin-bottom: 0;
        @include breakpoint(sm){
            font-size: 14px;
            text-align: center;
        }
    }
    .copy-list{
        list-style: none;
        @include flex-vertical-center;
        flex-wrap: wrap;
        @include breakpoint(sm){
            justify-content: center;
        }
        li{
            &:not(:last-of-type){
                margin-right: 30px;
            }
        }
    }
}

/* !END: Theme Footer CSS */
