@use "../utilities" as *;

/**----------------------------------------
START: Theme Project CSS
----------------------------------------*/
.project-section{
    position: relative;
    z-index: 1;
    .bg-color{
        background-color: var(--pb-color-common-white);
        width: 100%;
        height: 25%;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        @include breakpoint(md){
            height: 15%;
        }
    }
    .shapes{
        .shape{
            position: absolute;
            top: 20%;
            left: 10%;
            @include breakpoint(lg){
                left: 5%;
            }
            @include breakpoint(md){
                top: 10%;
            }
            @include breakpoint(sm){
                display: none;
            }
            &.shape-1{
                @include breakpoint(md){
                    display: none;
                }
            }
            &.shape-2{
                top: 25%;
                left: auto;
                right: 10%;
                @include breakpoint(lg){
                    right: 5%;
                }
                @include breakpoint(md){
                    top: 10%;
                }
            }
        }
    }
}

.project-filter{
    .project-filter-list{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 20px;
        list-style: none;
        margin-bottom: 60px;
        @include breakpoint(md){
            margin: 10px 0 40px 0;
        }
        .filter-item{
            padding: 10px 20px;
            border: 1px solid var(--pb-color-common-yellow);
            border-radius: 30px;
            font-size: 16px;
            font-weight: 500;
            color: var(--pb-color-heading-primary);
            cursor: pointer;
            @include transition(all 0.3s ease-in-out);
            &.active,
            &:hover{
                background-color: var(--pb-color-theme-primary);
                color: var(--pb-color-common-white);
                border: 1px solid var(--pb-color-theme-primary);
            }
            &:first-child{
                margin-right: 45px;
            }
            &:not(:last-of-type){
                margin-right: 45px;
                @include breakpoint(sm){
                    margin-right: 20px;
                }
            }
        }
    }
}

.project-item{
    .project-thumb{
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        img{
            width: 100%;
        }
        .project-content{
            background-color: var(--pb-color-common-white);
            width: 90%;
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
            padding: 30px 20px;
            visibility: hidden;
            opacity: 0;
            transition: 0.3s all ease-in-out;
            border-radius: 20px;
            .title{
                font-size: 22px;
                font-weight: 700;
            }
            p{
                max-width: 300px;
                width: 100%;
                margin-bottom: 0;
            }
        }
        &:hover{
            .project-content{
                bottom: 30px;
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

// Project 2

.project-section-2{
    .section-heading{
        margin-bottom: 140px;
        @include breakpoint(sm){
            margin-bottom: 120px;
        }
        .section-title{
            max-width: 750px;
        }
    }
}

.project-img-wrap{
    position: relative;
    max-width: 600px;
    width: 100%;
    @include breakpoint(md){
        margin: 0 auto;
    }
    img{
        max-width: 500px;
        width: 100%;
        border-radius: 5px;
        @include breakpoint(md){
            max-width: inherit;
        }
    }
    .project-counter{
        background-color: var(--pb-color-common-yellow);
        display: inline-block;
        padding: 25px 20px;
        position: absolute;
        top: -90px;
        left: 50px;
        border-radius: 20px;
        max-width: 155px;
        width: 100%;
        .title{
            @include flex-vertical-center;
            color: var(--pb-color-common-white);
            font-size: 54px;
            font-weight: 700;
            margin-bottom: 0;
            @include breakpoint(sm){
                font-size: 40px;
            }
            .odometer-auto-theme{
                font-family: inherit;
            }
            .odometer-digit-spacer{
                padding-right: 2px;
            }
        }
        p{
            font-size: 20px;
            color: var(--pb-color-common-white);
            max-width: 170px;
            width: 100%;
            margin-bottom: 0;
            @include breakpoint(sm){
                font-size: 14px;
                line-height: 1.3;
            }
        }
    }
    .project-counter-2{
        background-color: var(--pb-color-theme-secondary);
        display: inline-flex;
        align-items: center;
        padding: 15px 30px;
        border-radius: 20px;
        column-gap: 15px;
        position: absolute;
        bottom: 10px;
        right: 30px;
        .icon{
            background-color: var(--pb-color-common-white);
            color: var(--pb-color-theme-secondary);
            width: 50px;
            height: 50px;
            font-size: 18px;
            @include flex-center;
            border-radius: 50%;
        }
        .title{
            @include flex-vertical-center;
            color: var(--pb-color-common-white);
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 0;
            .odometer-auto-theme{
                font-family: inherit;
            }
            .odometer-digit-spacer{
                padding-right: 2px;
            }
        }
        p{
            color: var(--pb-color-common-white);
            margin-bottom: 0;
        }
    }
}

.project-list-wrap{
    position: relative;
    z-index: 1;
    .shape{
        position: absolute;
        top: -70px;
        right: -55px;
        z-index: -1;
        @include breakpoint(md){
            display: none;
        }
    }
}

.project-list{
    margin-top: -40px;
    @include breakpoint(md){
        margin-top: 40px;
    }
    li{
        display: grid;
        grid-template-columns: 80px 1fr;
        grid-gap: 20px;
        &:not(:last-of-type){
            margin-bottom: 15px;
        }
        .list-icon{
            width: 80px;
            height: 80px;
            @include flex-center;
            background-color: var(--pb-color-common-white);
            border-radius: 50%;
        }
        .title{
            background-color: var(--pb-color-common-white);
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 0;
            padding: 20px 20px 20px 50px;
            width: 100%;
            display: flex;
            align-items: center;
            border-radius: 140px;
            @include breakpoint(sm){
                font-size: 17px;
            }
        }
    }
}

// Project 2

.project-box{
    position: relative;
    z-index: 1;
    border-radius: 20px;
    img{
        width: 100%;
    }
    .project-content{
        background-color: var(--pb-color-common-white);
        width: 90%;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        padding: 30px 20px;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s all ease-in-out;
        border-radius: 20px;
        .title{
            font-size: 22px;
            font-weight: 700;
        }
        p{
            max-width: 300px;
            width: 100%;
            margin-bottom: 0;
        }
    }
}


.project-carousel{
    padding-bottom: 40px;
    .swiper-slide{
        transition: 0.3s all ease-in-out;
    }
    padding-top: 40px;
    .swiper-slide-active{
        transform: translateY(-40px);
        .project-box{
            .project-content{
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

.swiper-pagination{
    @include flex-center;
    .swiper-pagination-bullet{
        background: #E7E7EB;
        height: 5px;
        width: 20px;
        border-radius: 20px;
        opacity: 1;
        @include transition(all 0.4s ease-in-out);
        &.swiper-pagination-bullet-active{
            background: var(--pb-color-gradient-1);
            width: 40px;
            height: 10px;
        }
    }
}

.project-page{
    .project-box{
        position: relative;
        z-index: 1;
        overflow: hidden;
        .overlay{
            background: linear-gradient(180deg, rgba(34, 31, 63, 0.00) 0%, #221F3F 100%);
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;
            visibility: hidden;
            opacity: 0;
            @include transition(all 0.3s ease-in-out);
        }
        .project-content{
            z-index: 2;
            .project-btn{
                background-color: var(--pb-color-common-yellow);
                color: var(--pb-color-common-white);
                height: 45px;
                width: 45px;
                @include flex-center;
                border-radius: 50%;
                position: absolute;
                top: -22.5px;
                right: 0;
                &:hover{
                    background-color: var(--pb-color-theme-primary);
                }
            }
        }
    }
    .project-box:hover{
        .overlay{
            visibility: visible;
            opacity: 1;
        }
        .project-content{
            bottom: 30px;
            visibility: visible;
            opacity: 1;
        }
    }
}

.project-details-img{
    margin-bottom: 35px;
    img{
        width: 100%;
    }
}

.project-details-content{
    .content-top{
        @include flex-vertical-center;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 20px;
        .title{
            font-size: 54px;
            margin-bottom: 0;
            @include breakpoint(sm){
                font-size: 32px;
            }
        }
        p{
            max-width: 630px;
            width: 100%;
            margin-bottom: 0;
        }
    }
    .content-item{
        .title{
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 20px;
        }
    }
    .details-list-wrap{
        @include flex-vertical-center;
        justify-content: space-between;
        max-width: 900px;
        width: 100%;
        flex-wrap: wrap;
        row-gap: 10px;
        margin-bottom: 40px;
        ul{
            li{
                color: var(--pb-color-text-body);
                @include flex-vertical-center;
                font-size: 16px;
                font-weight: 500;
                i{
                    color: var(--pb-color-theme-primary);
                    margin-right: 10px;
                }
                &:nth-child(2){
                    i{
                        color: var(--pb-color-theme-secondary);
                    }
                }
                &:nth-child(3){
                    i{
                        color: var(--pb-color-common-purple);
                    }
                }
                &:not(:last-of-type){
                    margin-bottom: 10px;
                }
            }
        }
    }
    .details-img-wrap{
        margin-bottom: 40px;
        .details-img-thumb{
            img{
                width: 100%;
            }
        }
    }
    .layout-social-box{
        margin-top: 40px;
        margin-bottom: 0;
    }
}

/* !END: Theme Project CSS */
