@use "../utilities" as *;

/**----------------------------------------
START: Theme Service Details CSS
----------------------------------------*/
.service-details-img{
    margin-bottom: 40px;
    img{
        width: 100%;
    }
}

.service-details-content{
    .title{
        font-size: 54px;
        font-weight: 700;
        margin-bottom: 20px;
        @include breakpoint(md){
            font-size: 36px;
        }
    }
    .desc{
        max-width: 960px;
        width: 100%;
    }
    .service-content-item{
        margin-top: 40px;
        .title{
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 15px;
            @include breakpoint(sm){
                font-size: 25px;
            }
        }
    }
    .service-details-list{
        list-style: none;
        margin-top: 20px;
        li{ 
            @include flex-vertical-center;
            &:not(:last-of-type){
                margin-bottom: 10px;
            }
            i{
                color: var(--pb-color-theme-primary);
                margin-right: 15px;
            }
        }
    }
}

/* !END: Theme Service Details CSS */
