// Font URL
$font-url: "https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;500;600;700;800;900&display=swap";

//Font Family
$font-family: (
    "ff": (
        "body": "'Urbanist', sans-serif",
        "heading": "'Urbanist', serif",
    ),
);

// Font Weight
$font-scale: (
    "fw": (
        "normal": normal,
        "thin": 100,
        "elight": 200,
        "light": 300,
        "regular": 400,
        "medium": 500,
        "sbold": 600,
        "bold": 700,
        "ebold": 800,
        "black": 900,
    ),
);

// Font Size
$font-size: (
    "fs": (
        "body": 16,
        "p": 16,
        "h1": 80,
        "h2": 54,
        "h3": 30,
        "h4": 18,
        "h5": 16,
        "h6": 14,
    ),
);
